<div *ngIf="(tasksCounter); else noTasks">
    <h3>List of tasks</h3>

    <div *ngFor="let task of tasks|async">
        <mat-card>
            <mat-card-title>{{task.title}}</mat-card-title>
            <mat-card-content>{{task.description}}</mat-card-content>
            <mat-card-actions>
                <a [routerLink]="['task', task.id]" mat-raised-button color="primary">Edit</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<ng-template #noTasks>There is no tasks</ng-template>
